*~
~*
#*
*#
.#*
*.elc
\!*
*.pyc
*before*ecb*
auto-save-list/
auto-saves/
url/
.projectile/
.emacs.desktop
.org-id-locations
ac-comphist.dat
bookmarks
projectile-bookmarks*
projectile.cache
tramp
.projectile
anything-c-adaptive-history
org-clock-save.el
ede-projects.el
elpa/
site-emacs/packages/
eshell/
jedi/
.python-environments/
abbrev_defs
.cask/
/network-security.data
/ido.last
